@font-face {
    font-family: 'Amiko';
    src: url('fonts/amiko.regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Amiko';
    src: url('fonts/amiko.semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
    
@font-face {
    font-family: 'Amiko';
    src: url('fonts/amiko.bold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}


html {
    font-family: 'Amiko';
    font-weight: 700;
}

img {
    width: 100%;
    height: auto;
    margin: 1em 0;
}

a {
    text-decoration: none;
    color: var(--white);
    
}

:root {
    --blue: #2274A5;
    --yellow: #EAC435;
    --light-gray: #686868;
    --black: #000000;
    --white: #ffffff;
}

.button {
    background-color: var(--yellow);
    color: var(--white) ;
    padding: .5em;
    border-radius: 2px;
    margin: 1em auto;
    display: inline-block;
}

.button--blue {
    background-color: var(--blue);
}


.button_text {
    display: inline-block;
}


.section__socials {
    display: flex;
    justify-content: space-around;
    max-width: 400px;
    margin: auto;
}
.button_socials--adress {
    content: url(./icons/location.svg);
}

.button_socials--mail {
    content: url(./icons/mail.svg);
}

.button_socials--phone {
    content: url(./icons/Phone.svg);
}


.tophead {
    display: flex;
    justify-content: space-around;
}
.tophead__logo {
    width: 80px;
}

.tophead__right {
    text-align: end;
}
.tophead_R__heading {
    font-size: 18px;
    color: var(--blue);
}


.bothead__heading {
    color: var(--yellow);
    padding: .4em;
    max-width: 400px;
    margin: 0 auto;
}

.major__section {
    padding: 1em;
}

.section__figure {
    margin: 1em auto;
    max-width: 400px;
}

.section__heading {
    position: relative;
}
.section__heading::before {
    content: "";
    background-color: var(--blue);
    width: 48px;
    height: 6px;
    display: block;
    margin: .5em;
    left: -12px;
    top: -20px;
    position: absolute;
}


.imgbutton {
    max-width: 450px;
    filter: drop-shadow(-20px -16px 0px var(--blue)) ;
}

.fig__cap {
    padding: 1em 0;
}

.section--black {
    background-color: var(--black);
    color: var(--white);
}

.section__heading--yellow {
    color: var(--yellow);
}

.section__heading--yellow::before {
    display: none;
}

.imgbutton--yellow {
    filter: drop-shadow(20px 16px 0px var(--yellow));
}


.article__heading {
    position: relative;
    margin: 2em 1em;
}
.article__heading--yellowblock::before {
    content: "";
    background-color: var(--yellow);
    width: 80px;
    height: 6px;
    display: block;
    margin: .5em;
    left: -12px;
    bottom: -20px;
    position: absolute;

}

.article__part {
    max-width: 42em;
    padding: 1em;
    display: flex;
    gap: 32px;
    align-items: center;
  
}

.article__part--star::after {
    content: url(./icons/Star_circle.svg);
}

.article__part--mobile::before {
    content: url(./icons/android-smartphone_check.svg);
}

.article__part--pen::after {
    content: url(./icons/Edit.svg);
}

.footer__heading {
    color: var(--yellow);
}

.footer {
    background-color: var(--black);
    color: var(--white);
    padding: 1em;
}